body {
  text-align: center;
  font-family: courier;
  background-image: url("../assets/image.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

#periodic-table {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(7, 1fr) [separator-start] 0.25fr [separator-end lanthanides-start] 1fr [lanthanides-end actinides-start] 1fr [actinides-end];
  grid-gap: 0.125em;
  list-style: none;
  margin-top: 60px;
  padding: 0;
  font: 1em/1 Calibri, sans-serif;
  counter-reset: atomic-number;
}

#periodic-table li {
  background: darkred;
  color: white;
  padding: 0.5em 0.125em;
  text-align: center;
  counter-increment: atomic-number;
}

#periodic-table li:nth-of-type(2) {
  grid-column: 18;
}

#periodic-table li:nth-of-type(5), #periodic-table li:nth-of-type(13) {
  grid-column: 13;
}

#periodic-table li:nth-of-type(n+58):nth-of-type(-n+71) {
  grid-row: lanthanides;
}

#periodic-table li:nth-of-type(n+90):nth-of-type(-n+103) {
  grid-row: actinides;
}

@media (min-width: 60em) {
  #periodic-table li::before {
    content: counter(atomic-number, decimal);
    font-size: 0.75em;
    vertical-align: sub;
  }
}

@media (min-width: 72em) {
  #periodic-table li {
    font-size: 1.2em;
  }
  #periodic-table li::before, #periodic-table li::after {
    font-size: 0.5em;
  }
  #periodic-table li::after {
    content: attr(title);
    display: block;
    margin-top: 0.5em;
  }
}

@media (min-width: 90em) {
  #periodic-table li {
    font-size: 1.5em;
  }
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
